@import "custom_bootstrap_vars";

// Node

@import "bootswatch/dist/lumen/variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/lumen/bootswatch";


////////////////////////////////
//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

// Just... colors

$gray: rgb(184, 184, 184);
$dirty-white: rgb(201, 201, 201);
$title-color: #00ffaa;
$footer-size-normal: 100px;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

body {
  font-size: 17pt;
  margin-bottom: $footer-size-normal; // margin bottom
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-size-normal; /* Set the fixed height of the footer here */
}

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

// Custom container sizing

.container.container-mediumlike {
  max-width: 540px;
}

@import "landing_page/stylish-portfolio"